# Preference - File Encodings - Default encoding for properties files -> UTF-8 (checkbox check)

# server Settings
env.server.port=

# Mysql DataBase Settings
db.mysql.driver=com.mysql.cj.jdbc.Driver
db.mysql.url=jdbc:mysql://[url]:[port]/[schema]?autoReconnect=true&useUnicode=true&characterEncoding=utf-8
db.mysql.username=
db.mysql.password=

jpa.ddl.option=create/none
sql.init.mode=never/always

# H2 DataBase Settings
db.h2.driver=org.h2.Driver
db.h2.url=jdbc:h2:tcp://[url]/~/[schema]
db.h2.username=
db.h2.password=

# jwt Secret Key Settings
auth.accesskey=
auth.refreshkey=
auth.datakey=seq

# Image Path Settings
app.file.path=

# Naver smtp Settings
auth.smtp.username=
auth.smtp.password=

# Naver SMS Service
naver-cloud-sms.accesskey=
naver-cloud-sms.secretkey=
naver-cloud-sms.serviceid=
naver-cloud-sms.senderphone=

# Redis
spring.redis.host=localhost
spring.redis.port=6379
