@import "global.scss";
.btn {
    // 버튼 기본 설정
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all 0.15s;
    cursor: pointer;

    //아래로 버튼 종류
    &.large {
        position: absolute;
        width: 100vw !important;
        height: 48px;
        bottom: 0;
        left: 0;
        margin: 0;
    }
    &.medium {
        width: 328px;
        height: 36px;
        border-radius: 4px;
    }
    &.small {
        width: 83px;
        height: 41px;
        border-radius: 4px;
    }
    &.xsmall {
        width: 80px;
        height: 24px;
        border-radius: 6px;
    }

    //아래로 버튼 색
    &.carrot {
        background-color: var(--carrot-color);
    }
    &.active {
        background-color: var(--active-color);
    }
    &.main {
        background-color: var(--main-color);
    }
    &.sub {
        background-color: var(--sub-color);
    }
    &.disable {
        background-color: var(--disable-color);
    }
    &.light {
        background-color: var(--light-color);
    }
    &.thin {
        background-color: var(--thin-color);
    }
    &.white {
        background-color: var(--white-color);
    }
    &.background {
        background-color: var(--background-color);
    }
    &.outline {
        border: 1px solid var(--main-color);
        background-color: var(--background-color);
    }

    //아래로 폰트 색
    span {
        @extend .h4;
        &.carrot {
            color: var(--carrot-color);
        }
        &.active {
            color: var(--active-color);
        }
        &.main {
            color: var(--main-color);
        }
        &.sub {
            color: var(--sub-color);
        }
        &.disable {
            color: var(--disable-color);
        }
        &.light {
            color: var(--light-color);
        }
        &.thin {
            color: var(--thin-color);
        }
        &.white {
            color: var(--white-color);
        }
        &.background {
            color: var(--background-color);
        }
    }
}
