// Pretendard Variable
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");

// variable (font, color)
@import "variable.scss";

* {
    font-family: "Pretendard Variable", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    box-sizing: border-box;
    cursor: default;
    color: var(--main-color);
    @extend .text;
}

body {
    background-color: var(--b-back-color);
}
