@import "global.scss";

// Form
.customForm {
    width: 450px;
    margin-bottom: 80px;

    label {
        display: block;
        margin-bottom: 4px;
        @extend .label;
        color: var(--sub-color);
    }

    // textArea설정
    textarea {
        @extend .inputTextBox;
        width: 100%;
        max-width: 320px;
    }

    // input설정
    input[type="text"] {
        @extend .inputTextBox;
        width: 100%;
        max-width: 320px;
        min-width: 100px;
    }
    input[type="number"] {
        @extend .inputTextBox;
        width: 100%;
        max-width: 320px;
        min-width: 100px;
    }
    input[type="password"] {
        @extend .inputTextBox;
        width: 100%;
        max-width: 320px;
        min-width: 100px;
    }

    //임포트용으로 사용되는 기본 inputTextBox
    .inputTextBox {
        // 유효성 체크박스
        ~ .notice {
            min-height: 1rem;
            color: var(--danger-color);
        }

        @extend .text;
        background-color: var(--background-color);
        padding: 10px 14px;
        border-radius: 4px;
        color: var(--active-color);
        border: 1px solid var(--disable-color);
        cursor: text;
        outline: none;
        transition: border 0.3s, box-shadow 0.3s;

        // 선택
        &:focus {
            border: 1px solid var(--active-color);
            box-shadow: 0px 0px 0px 3px #424b5a80;
        }

        //정규표현식 유효성검사
        &:invalid {
            border: 1px solid var(--danger-color);
            box-shadow: 0px 0px 0px 3px #f96a6340;
            &:focus {
                border: 1px solid var(--danger-color);
                box-shadow: 0px 0px 0px 3px #f96a6380;
            }
        }

        // 선택불가능
        &.disable {
            background-color: var(--light-color);
            cursor: default;
            &:focus {
                border: 1px solid var(--disable-color);
                box-shadow: none;
            }
        }

        // 성공시
        &.success {
            border: 1px solid var(--success-color);
            &:focus {
                border: 1px solid var(--success-color);
                box-shadow: 0px 0px 0px 3px #87d14680;
            }
        }

        // 실패시
        &.danger {
            border: 1px solid var(--danger-color);
            &:focus {
                border: 1px solid var(--danger-color);
                box-shadow: 0px 0px 0px 3px #f96a6380;
            }
        }

        // placeholder 색상변경
        &::placeholder {
            color: var(--disable-color);
        }
        &::-webkit-input-placeholder {
            color: var(--disable-color);
        }
        &:-ms-input-placeholder {
            color: var(--disable-color);
        }
    }
    // dropdown
    .dropdown {
        width: 100%;
        max-width: 320px;
        .dropdown-toggle {
            @extend .text;
            background-color: var(--background-color);
            width: 100%;
            min-width: 100px;
            padding: 10px 14px;
            border-radius: 4px;
            color: var(--active-color);
            border: 1px solid var(--disable-color);
            cursor: pointer;
            transition: border 0.3s, box-shadow 0.3s;
            text-align: left;
            &:hover {
                border: 1px solid var(--active-color);
            }
            span {
                width: 95%;
                text-align: left;
                display: inline-block;

                // min-width: 200px;
            }
        }

        //dropDown 코드
        .ariaCurrent {
            color: var(--primary-color);
        }
        .dropdown-item:hover {
            background-color: var(--primary-color);
            color: var(--white-color);
        }
        .dropdown-item:active {
            background-color: var(--primary-color);
            color: var(--white-color);
        }
    }

    //기타
    .swap {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding: 10px;

        .material-symbols-outlined {
            font-family: "Material Symbols Outlined";
            font-variation-settings: "wght" 300;
            font-size: 1.5rem;
        }
    }
    .backlabel {
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 8px;
    }
}
.w120 {
    max-width: 120px;
}
@media (min-width: 100px) {
}
@media (min-width: 768px) {
    .borderForm {
        width: fit-content;
        margin: auto;
        padding: 60px 120px;
        border: 1px solid var(--light-color);
        border-radius: 32px;
    }
}
