//컬러전역설정
:root,
:root.light {
    --carrot-color: linear-gradient(126.73deg, #ff8a65 15.12%, #ff7765 86.23%);
    --active-color: #424b5a;
    --main-color: #505d68;
    --sub-color: #a1aeb7;
    --disable-color: #c2d1d9;
    --light-color: #e8edef;
    --thin-color: #f2f5f7;
    --white-color: #ffffff;
    --background-color: #ffffff;

    --primary-color: #ff7765;
    --info-color: #58c2ed;
    --success-color: #87d146;
    --warning-color: #ffd600;
    --danger-color: #f96a63;
    --d-modal-back-color: #d9d9d980;
    --d-modal-color: #ffffff80;
}

// 다크모드
// :root.dark {
// }

//폰트전역설정
h1 {
    margin: 0;
    padding: 0;
    display: inline-block;
    @extend .h1;
}
h2 {
    margin: 0;
    padding: 0;
    display: inline-block;
    @extend .h2;
}
h3 {
    margin: 0;
    padding: 0;
    display: inline-block;
    @extend .h3;
}
h4 {
    margin: 0;
    padding: 0;
    display: inline-block;
    @extend .h4;
}
h5 {
    margin: 0;
    padding: 0;
    display: inline-block;
    @extend .h5;
}
@media (min-width: 100px) {
    .h1 {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1.8rem;
    }
    .h1-small {
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
    .h2 {
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.18rem;
    }
    .h3 {
        font-weight: 700;
        font-size: 0.9rem;
        line-height: 1.1rem;
    }
    .h4 {
        font-weight: 700;
        font-size: 0.8rem;
        line-height: 1rem;
    }
    .h5 {
        font-weight: 700;
        font-size: 0.75rem;
        line-height: 0.9rem;
    }
    .text {
        font-weight: 400;
        font-size: 0.87rem;
        line-height: 1.31rem;
    }
    .label {
        font-weight: 400;
        font-size: 0.7rem;
        line-height: 0.93rem;
    }
}
// 큰화면
@media (min-width: 768px) {
    .h1 {
        font-weight: 700;
        font-size: 1.875rem;
        line-height: 2.25rem;
    }
    .h1-small {
        font-weight: 600;
        font-size: 1.56rem;
        line-height: 1.87rem;
    }
    .h2 {
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1.47rem;
    }
    .h3 {
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 1.37rem;
    }
    .h4 {
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.25rem;
    }
    .h5 {
        font-weight: 700;
        font-size: 0.93rem;
        line-height: 1.12rem;
    }
    .text {
        font-weight: 400;
        font-size: 0.87rem;
        line-height: 1.31rem;
    }
    .label {
        font-weight: 400;
        font-size: 0.85rem;
        line-height: 1rem;
    }
}

// container
.container {
}

// @media (min-width: 100px) {
//     .container {
//         width: calc(100% - 50px);
//     }
// }

// @media (min-width: 768px) {
//     .container {
//         width: calc(100% - 200px);
//     }
// }

// @media (min-width: 992px) {
//     .container {
//         width: calc(100% - 200px);
//     }
// }

// @media (min-width: 1200px) {
//     .container {
//         width: calc(100% - 500px);
//     }
// }
